<%- include("../partials/header") %>
    <h1>Skills</h1>
    <ul>
      <a href="skills/new">Add new skill!</a>
    <% skills.forEach( skill => { %>
      <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
    <% }); %>
    </ul>
    <%- include("../partials/footer") %>